<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Estilizando formulários com CSS - DevMedia</title>
</head>
<body>
<form method="post" id="numero_comanda">
	{% csrf_token %}
	<div class="box">
		<h1>Wttd_Restaurant</h1>
		<div>
			<label>
				<span>Numero da Comanda</span>
 				<input type="text" class="input_text" name="tab"/>
			</div>
		</label>
		<div>
			<label for="cars">Choose a item:</label>

			<select name="item">
				{%for k, v in items.items %}
					<option value="{{ k }}">{{ k }} - {{ v }}</option>
				{% endfor %}
			</select>
		</div>
         
         <button type="submit" class="submit_button" name="somar">Add</button>
	</div>
	<div>
		{{ total }}
	</div>
</form>
<br>
<div>
	<table>
		<thead>
			<tr>
				<th scope="col">Tab</th>
				<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
			{% for k, v in total.items %}
				<tr>
					<td>{{ k }}</td>
					<td>{{ v }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</body>
</html>